/* ref: https://www.digitalocean.com/community/tutorials/how-to-build-the-about-me-section-of-your-website-with-css-section-2 */
.split-half {
  float: left;
  width: 50%;
  padding: 40px;
  padding-left:70px;
  padding-right: 70px;
  height: 475px;
  margin:0px;
  margin-right:0px;
  margin-bottom: 70px;
  background-color: #FEDE00;
  line-height:2;
}

.large-profile {
  background: url(/assets/images/me_about_half.JPG);
  background-size: cover;
  background-position: center;
}
