---
layout: page
titles:
  # @start locale config
  en      : &EN       Home
  en-GB   : *EN
  en-US   : *EN
  en-CA   : *EN
  en-AU   : *EN
  zh-Hans : &ZH_HANS  主页
  zh      : *ZH_HANS
  zh-CN   : *ZH_HANS
  zh-SG   : *ZH_HANS
  zh-Hant : &ZH_HANT  主頁
  zh-TW   : *ZH_HANT
  zh-HK   : *ZH_HANT
  ko      : &KO       홈
  ko-KR   : *KO
  fr      : &FR       Accueil
  fr-BE   : *FR
  fr-CA   : *FR
  fr-CH   : *FR
  fr-FR   : *FR
  fr-LU   : *FR
  tr      : &TR       Ana Sayfa
  # @end locale config
show_title: false
articles:
  data_source: posts
  article_type: BlogPosting
  show_cover: false
  show_excerpt: true
  show_readmore: true
  show_info: true
---
<script>
  {%- include scripts/home.js -%}
</script>


<div class="layout--home">
  {%- include paginator.html -%}
  
  <!-- About me -->
  <div class="section">
    <div class="about-me">
      <div class="col-left">
	<img src={{page.data.about.image}} alt="sean photo">
      </div>
      <div class="col-right">
	<h2>About Me</h2>
	<p>
	  {{page.data.about.description}}

	  <br><br>
	  <a class="button button--outline-info button--pill" align="center" href="/about.html">LEARN MORE</a>
	</p>	
      </div>
    </div>
  </div>

  <!-- blog -->
  {%- if page.show_blog -%}
  {%- assign _page_articles_data_source = page.articles.data_source | default: layout.articles.data_source -%}

{%- if _page_articles_data_source -%}
{%- assign _keys = _page_articles_data_source | split: '.' -%}
{%- endif -%}

{%- assign _articles = nil -%}
{%- for _key in _keys -%}
  {%- if forloop.first -%}
   {%- case _key -%}
      {%- when 'site' -%}
        {%- assign _articles = site -%}
      {%- when 'page' -%}
        {%- assign _articles = page -%}
      {%- when 'layout' -%}
        {%- assign _articles = layout -%}
      {%- when 'paginator' -%}
        {%- assign _articles = paginator -%}
      {%- else -%}
        {%- assign _articles = site[_key] -%}
      {%- else -%}
    {%- endcase -%}
  {%- else -%}
    {%- assign _articles = _articles[_key] -%}
  {%- endif -%}
{%- endfor -%}

{%- assign _type = page.articles.type | default: layout.articles.type -%}

{%- if _articles -%}
  <div class="section">
    <div class="articles">
      <h2> Blog </h2>
      {%- include snippets/assign.html
      target=site.data.variables.default.page.articles.show_info
      source0=layout.articles.show_info source1=page.articles.show_info -%}
      {%- assign _show_info = __return -%}

      {%- include article-list.html articles=_articles type='brief' show_info=_show_info -%}
    </div>
    <ul class="menu">
      {%- include snippets/get-nav-url.html path=_action.url -%}
      {%- assign _url = __return -%}
      
      <li><br><a class="button button--outline-info button--pill button--l" href="blog.html">READ MORE</a></li>

    </ul>

  </div>
  {%- endif -%}
  {%- endif -%}
  
  <!-- Projects -->
  {%- if page.show_projects -%}
  {%- assign _page_articles_data_source = site.projects -%}

  {%- if _page_articles_data_source -%}
  {%- assign _keys = _page_articles_data_source | split: '.' -%}
  {%- endif -%}

  {%- assign _articles = nil -%}
  {%- for _key in _keys -%}

  {%- if forloop.first -%}
    {%- case _key -%}

      {%- when 'site' -%}
        {%- assign _articles = site -%}
      {%- when 'page' -%}
        {%- assign _articles = page -%}
      {%- when 'layout' -%}
        {%- assign _articles = layout -%}
      {%- when 'paginator' -%}
        {%- assign _articles = paginator -%}
      {%- else -%}
        {%- assign _articles = site[_key] -%}
      {%- else -%}
    {%- endcase -%}
  {%- else -%}
    {%- assign _articles = _articles[_key] -%}
  {%- endif -%}
{%- endfor -%}

  {%- assign _type = item -%}
  
  {%- if _articles -%}
  <div class="section">
    <div class="articles">
      <h2> Projects </h2>
      {%- include snippets/assign.html
      target=site.data.variables.default.page.articles.show_info
      source0=layout.articles.show_info source1=page.articles.show_info -%}
      {%- assign _show_info = __return -%}

      {%- include article-list.html articles=_articles type='grid' -%}
    </div>
    <ul class="menu">
      {%- include snippets/get-nav-url.html path=_action.url -%}
      {%- assign _url = __return -%}
      <li><a class="button button--outline-info button--pill button--lg" href="projects.html">See More</a></li>

    </ul>
  </div>
  {%- endif -%}
  {%- endif -%}
</div>
